fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
python-dotenv
supabase
google-genai
requests
PyPDF2
python-docx
aiofiles
numpy
sentence-transformers
PyJWT
passlib[bcrypt]
scikit-learn
scipy           